<div class="page-header">
  <h1>Owners Management
    <small>Manage owners here</small>
  </h1>
</div>
<div class="row">
  <div class="span14">
    <h2><%= @owner.name %></h2>
    <%= render "form" %>
  </div>
</div>
